body {
  background-color: #00ffff;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.container {
  text-align: center;
}

.input {
  padding: 4px;
  width: 300px;
  border-radius: 0;
  outline: none;
}

.submit {
  border-radius: 0;
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #5E00C2;
  color: #ffffff;
  transition: all 0.3s ease;
}

.results {
  display: inline-block;
  margin-top: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 50%;
  border-radius: 4px;
}

.results-youtube ul {
  list-style-type: none;
}

.results-youtube {
  margin-top: 6px;
  background-color: gray;
  display: inline-block;
  border-radius: 4px;
  width: 50%;
}

.submit:hover {
  background-color: #363946;
  color: #ebca52;
}

img {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .results-youtube {
    width: 100%;
  }
  img {
    width: 80%;
  }
}